.dashboard_outlet {
  position: fixed;
  left: min(19vw, 300px);
  top: 0px;
  background: #fafafa;
  background: linear-gradient(
    247deg,
    #eef7ff 3.42%,
    rgba(238, 247, 255, 0) 73.71%,
    rgba(238, 247, 255, 0) 107.04%
  );
  height: 100vh;
  width: calc(100vw - min(19vw, 300px));
  border-right: 9px solid #77bcbb;
  border-top: 9px solid #77bcbb;
  border-bottom: 9px solid #77bcbb;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard_outlet {
    left: 0;
    width: 100vw;
    border-left: 9px solid #77bcbb;
    border-radius: 0;
    top: 60px;
    height: calc(100vh - 60px);
  }
}
.ge3s_dashboard_border {
  height: 100vh !important;
  border-left: 9px solid #77bcbb;
  border-top: 9px solid #77bcbb;
  border-bottom: 9px solid #77bcbb;
}
